<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="icon" href="../../img/escudo_AAUCA.jpg">
    <link rel="stylesheet" href="../../nomodules/fontawesome/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../nomodules/boostrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/inicioSesion.css">
</head>
<body>
    
    <div class="bodyIniciarSesion">
        <div class="contenedorInicioSesion">
            <div class="text-end mb-3">
                <a class="enlaceInicioSesion" id="enlaceInicio">Inicio</a>
            </div>

            <h2 class="text-start">Iniciar Sesión</h2>

            <form id="formIniciarSesion">
                <div class="mb-3">
                    <label for="correoONombre" class="form-label">Correo o nombre de usuario</label>
                    <input type="text" class="form-control" id="correoONombre" placeholder="Ingrese su correo o su nombre de usuario" required>
                </div>

                <div class="mb-4">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña" required>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-warning w-100 fw-bold">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="../../controlador/inicioSesion.js"></script>
    <script src="../../nomodules/boostrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>