<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="icon" href="../../img/escudo_AAUCA.jpg">
    <link rel="stylesheet" href="../../nomodules/fontawesome/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../nomodules/boostrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/noticias.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>

    <header>
        <!-- Navegacion -->
        <div class="importandoNavegacion"> </div>



        <!-- Hero -->
        <div class="container">
            <div class="hero2 text-center d-flex align-items-center justify-content-center mt-5">
                <h1 class="fw-bold mb-2">Noticias</h1>

                <p class=" w-75 fs-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque consectetur commodi maxime. 
                    Totam ea nobis corrupti aliquid dolore odio molestiae, dolor, aliquam perspiciatis, nostrum 
                    reprehenderit sunt aut! Consequuntur, in totam.
                </p>
            </div>
        </div>
    </header>



    <div class="container px-5 pb-4">
        <div class="division2"></div>
    </div>

    

    <section>
        <div class="contenedorTarjetasNoticias mb-4">
            <!-- Carta de noticias -->
            <div id="contTarjetaNoticia" class="container">
                <div class="row" id="tarjetasNoticiasRow">
                    <!-- Las tarjetas se añadirán aquí dinámicamente -->
                </div>
            </div>



            <!-- Contenedor de paginación -->
            <div id="contPaginacion" class="container mt-4 d-flex justify-content-center">
                <!-- La paginación se añadirá aquí dinámicamente -->
            </div>
                


            <!-- Detalles de las noticias -->
            <div id="contDetallesNoticias" class="container"> <!-- Agregar de manera dinamica --> </div>
        </div>



        <!-- Modal -->
        <div id="modalNoticias" class="modal">
            <div class="modal-contenido">
                <span class="cerrar w-100 text-end" id="cerrarModal">&times;</span>

                <div class="modal-encabezado">
                    <h2 id="tituloNoticiaDetalle"> </h2>
                </div>
                
                <div class="modal-content mt-2 p-2">
                    <p id="contenidoNoticiadetalle"> </p>
                </div>
            </div>
        </div>
    </section>



    <!-- Importacion del footer -->
    <div class="importandoFooter"> </div>


    
    <script type="module" src="../../controlador/c_noticia.js"></script>
    <script src="../../nomodules/boostrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>