/***************************************************************************/
/* VARIABLES DE COLORES */
/***************************************************************************/
:root {
    --color-primario: #ffd600;
    --color-primario-oscuro: #e6c100;
    --color-secundario: #000000;
    --color-blanco: #ffffff;
    --color-gris-claro: #f8f9fa;
    --color-gris-medio: #e9ecef;
    --color-gris-oscuro: #6c757d;
    --color-texto: #333333;
}


/***************************************************************************/
/* GLOBAL */
/***************************************************************************/
.imgCarnet{
  height: 50%;
  width: 50%;
}

textarea{
  min-height: 40vh !important;
  resize: none;
}

#descripcionAsignatura{
  min-height: 20vh !important;
  resize: none;
}