<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Panel del Secretario Académico - Estudiantes </title>
    <link rel="icon" href="../../../public/img/escudo_AAUCA.jpg">
    <link rel="stylesheet" href="../../../public/nomodules/fontawesome/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../../public/nomodules/boostrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/nomodules/node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="../../../public/nomodules/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/secretario.css">
</head>

<body id="page-top">
    
    <!-- Page Wrapper -->
    <div id="wrapper" class="toggled">
        
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion toggled shadow-lg" id="accordionSidebar">
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> Secretario Académico </div>
            </div>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link tablero">
                    <i class="fas fa-chalkboard"></i> <span> Tablero </span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link facultad">
                    <i class="fas fa-university"></i> <span> Facultades </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link departamento">
                    <i class="fas fa-building"></i> <span> Departamentos </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link planEstudio">
                    <i class="fas fa-list-alt"></i> <span> Planes de Estudios </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" 
                        aria-controls="collapseTwo">
                    <i class="fas fa-list-alt"></i>
                    <span>Currículo</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Plan</h6>
                        <a class="collapse-item carrera">Carrera</a>
                        <a class="collapse-item curso">Curso</a>
                        <a class="collapse-item semestre">Semestre</a>
                        <a class="collapse-item asignatura">Asignatura</a>

                        <h6 class="collapse-header mt-2">Profesores</h6>
                        <a class="collapse-item formacion">Formación</a>

                        <h6 class="collapse-header mt-2">Gestión</h6>
                        <a class="collapse-item aula">Aulas</a>
                        <a class="collapse-item horario">Horarios</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link matricula">
                    <i class="fas fa-clipboard-list"></i> <span> Matrícula </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link pago">
                    <i class="fas fa-clipboard-list"></i> <span> Pago </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link profesor">
                    <i class="fas fa-chalkboard-teacher"></i> <span> Profesores </span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link estudiante">
                    <i class="fas fa-user-graduate"></i> <span> Estudiantes </span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>
                                    <span class="mr-2 d-lg-inline text-gray-600"> Nombre del usuario </span><br>
                                    <span class="mr-2 d-lg-inline text-gray-600 small"> Correo del usuario </span>
                                </div>
                                <img class="img-profile rounded-circle" src="../../../public/img/undraw_profile.svg">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item perfil">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>


                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="mb-4">
                        <h1 class="h3 mb-0 text-gray-800">
                            <i class="fas fa-user-graduate text-warning mr-2"></i> Estudiantes
                        </h1>
                    </div>

                    <!-- Tabla de curso -->
                    <div class="card shadow mb-5">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-dark">Estudiantes</h6>
                            <button class="btn btn-success btn-icon-split nuevo" data-bs-toggle="modal" data-bs-target="#modalNuevoEstudiante"> 
                                <span class="icon text-white-50"> <i class="fas fa-plus"></i> </span>
                                <span class="text"> Nuevo </span>
                            </button>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover text-center " id="tablaEstudiantes">
                                    <thead class="table-dark">
                                        <tr>
                                            <th width="30%">Nombre</th>
                                            <th width="30%">Carrera</th>
                                            <th width="30%">Curso</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyTabla" id="tbodyTablaEstudiantes"> <!--Dinamicamente--> 
                                        <tr>
                                            <td class="align-middle">Jose María Lola</td>
                                            <td class="align-middle">Ing. Infromática</td>
                                            <td class="align-middle">Tercero</td>
                                            <td class="align-middle">
                                                <div class="d-flex justify-content-center align-items-center gap-1">
                                                    <button class="btn btn-sm btn-outline-info me-1 editar" data-bs-toggle="modal" data-bs-target="#modalNuevoEstudiante" 
                                                        title="Ver detalles" data-id="idEstudiante"> <i class="fas fa-eye"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar/editar un nuevo curso -->
    <div class="modal fade" id="modalNuevoCurso" tabindex="-1" aria-labelledby="modalNuevoCursoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalNuevoCursoLabel">Agregar nuevo curso</h5>
                </div>

                <div class="modal-body">
                    <form id="formCurso">

                        <div class="row">
                            <div class="col-9">
                                <label for="nombreCurso" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombreCurso" placeholder="Ej: Ingenierías" required>
                                <label id="nombreCurso" class="errorMensaje"></label>
                            </div>

                            <div class="col-3">
                                <label for="creditoCurso" class="form-label">Créditos</label>
                                <input type="number" min="0" max="60" class="form-control" id="creditoCurso" placeholder="Ej: 60" required>
                                <label id="creditoCurso" class="errorMensaje"></label>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary cancelar" type="button" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="btnGuardarCurso">Guardar Curso</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>


    <!-- Logout Modal-->
    <div class="importandoModalCierreSesion"> </div>
    

    <script src="../../../public/nomodules/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/nomodules/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/nomodules/boostrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/nomodules/node_modules/jquery.easing/jquery.easing.min.js"></script>
    <script src="../../../public/nomodules/node_modules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
    <script src="../../../public/nomodules/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../public/nomodules/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="module" src="../../controlador/c_estudiante.js"></script>
</body>
</html>