<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Secretario Académico - Planes de Estudios</title>
    <link rel="icon" href="../../../public/img/escudo_AAUCA.jpg" />
    <link rel="stylesheet" href="../../../public/nomodules/fontawesome/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="../../../public/nomodules/boostrap/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../public/nomodules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="../../../public/nomodules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="../css/secretario.css" />
    <link rel="stylesheet" href="../../../public/template/css/globalModulos.css" />
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper" class="toggled">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content" class="mb-4">
                <!-- Topbar -->
                <nav class="navbar navbar-expand bg-white topbar mb-4 shadow d-flex justify-content-between sticky-top">
                    <!--NOmbre del panel-->
                    <div class="ms-3 d-flex align-items-center justify-content-center">
                        <div class="h4 me-2">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <div class="fw-bold h4" id="secretarioAcademico"> Secrtetario Académico </div>
                    </div>

                    <!-- Topbar Navbar -->
                    <div class="importandoTopBar w-100 d-flex justify-content-end"> </div>
                </nav>

                <!--parte principal-->
                <div class="container-fluid px-4">
                    <!-- Encabezado con título y botones -->
                    <div class="d-flex justify-content-between align-items-center my-4">
                        <h3 class="h3 mb-0 text-gray-800">
                            <i class="fas fa-users-cog me-2 text-warning"></i> <span id="tituloPagina"> Expediente del Estudiante </span>
                        </h3>
                        <div class="d-flex gap-3">
                            <button class="btn btn-warning" id="btnVolverPanelEstudiante">
                                <i class="fas fa-arrow-right me-2"></i> Volver
                            </button>
                        </div>
                    </div>

                    <div class="d-flex gap-3 justify-content-center align-items-center">
                        <button class="btn btn-outline-warning" id="btnDatosPersonales">
                            <i class="fas fa-user me-2"></i> Ver datos personales
                        </button>
                        <button class="btn btn-outline-warning" id="btnMatricula">
                            <i class="fas fa-list-alt me-2"></i> Ver matrículas
                        </button>
                        <button class="btn btn-outline-warning" id="btnDatosAcademicos">
                            <i class="fas fa-file-text me-2"></i> Ver datos académicos
                        </button>
                    </div>

                    <div class="separadorForm"></div>

                    <!--SECCION DE LOS DATOS PERSONALES-->
                    <div class="seccionMostrar" id="seccionDatosPersonales">
                        <!--PARTE DE LA VISUALIZACION-->
                        <div class="contSeccionDatosPersonales" id="seccionDatosPersonalesVisualizacion">
                            <!--Botones-->
                            <div class="d-flex gap-2 justify-content-center align-items-center">
                                <button class="btn btn-outline-warning" id="btnEditarDatosPersonales">
                                    <i class="fas fa-edit me-2"></i> Editar
                                </button>
                            </div>

                            <div class="col-12 text-center py-5">
                                <i class="fas fa-user fa-4x text-muted mb-3"></i>
                                <h3 class="text-muted">Sin datos personales disponibles</h3>
                            </div>

                            <!-- Los detalles se cargarán dinámicamente -->
                        </div>

                        <!--PARTE DE LA CREACION/EDICION-->
                        <div class="contSeccionDatosPersonales d-none" id="seccionDatosPersonalesEdicion">
                            <form id="formEstudiante">
                                <!--Datos generales-->
                                <h5 class="h4 mb-3 text-gray-800"> Datos personales del estudiante </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="nombreEstudianteMatricula" class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="nombreEstudianteMatricula" placeholder="Ej: Jose" required>
                                            <label id="errorNombreEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="apellidosEstudianteMatricula" class="form-label">Apellidos</label>
                                            <input type="text" class="form-control" id="apellidosEstudianteMatricula" placeholder="Ej: Lola" required>
                                            <label id="errorApellidosEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="dipEstudianteMatricula" class="form-label">DIP</label>
                                            <input type="text" class="form-control" id="dipEstudianteMatricula" placeholder="Ej: 000 000 000" required>
                                            <label id="errorDipEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-4">
                                            <label for="fechaNacimientoEstudianteMatricula" class="form-label">Fecha de nacimiento</label>
                                            <input type="date" class="form-control" id="fechaNacimientoEstudianteMatricula" required>
                                            <label id="errorFechaNacimientoEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="nacionalidadEstudianteMatricula" class="form-label">Nacionalidad</label>
                                            <input type="text" class="form-control" id="nacionalidadEstudianteMatricula" placeholder="Ej: ecuatoguineana" required>
                                            <label id="errorNacionalidadEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="generosEstudianteMatricula" class="form-label">Sexo</label>
                                            <select class="form-select" id="generosEstudianteMatricula" required>
                                                <option value="Ninguno">Seleccione...</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                            <label id="errorGenerosEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-4">
                                            <label for="direccionEstudianteMatricula" class="form-label">Dirrección</label>
                                            <input type="text" class="form-control" id="direccionEstudianteMatricula" placeholder="Ej: Avenida las Palmas" required>
                                            <label id="errorDireccionEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="localidadEstudianteMatricula" class="form-label">Localidad</label>
                                            <input type="text" class="form-control" id="localidadEstudianteMatricula" placeholder="Ej: Lea" required>
                                            <label id="errorLocalidadEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="provinciaEstudianteMatricula" class="form-label">Provincia</label>
                                            <input type="text" class="form-control" id="provinciaEstudianteMatricula" placeholder="Ej: Litoral" required>
                                            <label id="errorProvinciaEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-4 filter-group">
                                            <div class="combo-input-wrapper">
                                                <label for="comboPaisesEstudianteMatricula" class="form-label">Países</label>
                                                <input type="text" id="comboPaisesEstudianteMatricula" class="form-control" placeholder="Buscar o seleccionar país">
                                                <div class="dropdown-options" id="opcionesEstudianteMatricula"></div>
                                                <label id="errorPaisesEstudianteMatricula" class="errorMensaje"></label> 
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <label for="correoEstudianteMatricula" class="form-label">Correo</label>
                                            <input type="email" class="form-control" id="correoEstudianteMatricula" placeholder="Ej: estudiante@email.com" required>
                                            <label id="errorCorreoEstudianteMatricula" class="errorMensaje"></label> 
                                        </div>
                                        <div class="col-4">
                                            <label for="telefonoEstudianteMatricula" class="form-label">Teléfono</label>
                                            <input type="tel" class="form-control" id="telefonoEstudianteMatricula" placeholder="Ej: +240 222 123 456" required>
                                            <label id="errorTelefonoEstudianteMatricula" class="errorMensaje"></label>
                                        </div>
                                    </div>
                                </div>

                                <!--Datos de los familiares-->
                                <h5 class="h4 my-4 text-gray-800"> Datos de los familiares </h5>

                                <div class="container">
                                    <!--Boton para añadir mas contactos-->
                                    <div class="text-end">
                                        <button class="btn btn-sm btn-outline-warning" id="añadirContactos" type="button" title="Añadir más contactos"> 
                                            <i class="fas fa-plus"></i> Añadir más contactos
                                        </button>
                                    </div>

                                    <div>
                                        <div class="row mt-1">
                                            <div class="col-4">
                                                <label for="nombreEstudianteFamiliar" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="nombreEstudianteFamiliar" placeholder="Ej: Martín" required>
                                                <label id="errorNombreEstudianteFamiliar" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-4">
                                                <label for="apellidosEstudianteFamiliar" class="form-label">Apellidos</label>
                                                <input type="text" class="form-control" id="apellidosEstudianteFamiliar" placeholder="Ej: Lola" required>
                                                <label id="errorApellidosEstudianteFamiliar" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-4">
                                                <label for="dipEstudianteFamiliar" class="form-label">DIP</label>
                                                <input type="text" class="form-control" id="dipEstudianteFamiliar" placeholder="Ej: 000 000 000" required>
                                                <label id="errorDipEstudianteFamiliar" class="errorMensaje"></label>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-4">
                                                <label for="direccionEstudianteFamiliar" class="form-label">Dirrección</label>
                                                <input type="text" class="form-control" id="direccionEstudianteFamiliar" placeholder="Ej: Avenida las Palmas" required>
                                                <label id="errorDireccionEstudianteFamiliar" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-4">
                                                <label for="correoEstudianteFamiliar" class="form-label">Correo</label>
                                                <input type="email" class="form-control" id="correoEstudianteFamiliar" placeholder="Ej: familiar@email.com" required>
                                                <label id="errorCorreoEstudianteFamiliar" class="errorMensaje"></label> 
                                            </div>
                                            <div class="col-4">
                                                <label for="telefonoEstudianteFamiliar" class="form-label">Teléfono</label>
                                                <input type="tel" class="form-control" id="telefonoEstudianteFamiliar" placeholder="Ej: +240 222 123 456" required>
                                                <label id="errorTelefonoEstudianteFamiliar" class="errorMensaje"></label>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-4">
                                                <label for="parentezcoEstudianteFamiliar" class="form-label">Parentezco</label>
                                                <input type="text" class="form-control" id="parentezcoEstudianteFamiliar" placeholder="Ej: Padre" required>
                                                <label id="errorParentezcoEstudianteFamiliar" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-4">
                                                <label for="contactoIncidenteEstudianteFamiliar" class="form-label">¿Es contacto incidente?</label>
                                                <select class="form-select" id="contactoIncidenteEstudianteFamiliar" required>
                                                    <option value="Ninguno">Seleccione...</option>
                                                    <option value="Sí">Sí</option>
                                                    <option value="No">No</option>
                                                </select>
                                                <label id="errorContactoIncidenteFamiliar" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-4">
                                                <label for="responsablePagoEstudianteFamiliar" class="form-label">¿Es responsable de pago?</label>
                                                <select class="form-select" id="responsablePagoEstudianteFamiliar" required>
                                                    <option value="Ninguno">Seleccione...</option>
                                                    <option value="Sí">Sí</option>
                                                    <option value="No">No</option>
                                                </select>
                                                <label id="errorResponsablePagoFamiliar" class="errorMensaje"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Datos adicionales-->
                                <h5 class="h4 my-4 text-gray-800"> Datos adicionales </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 filter-group">
                                            <div class="combo-input-wrapper">
                                                <label for="comboCentroEstudianteMatricula" class="form-label">Centro de procedencia</label>
                                                <input type="text" id="comboCentroEstudianteMatricula" class="form-control" placeholder="Buscar o seleccionar">
                                                <div class="dropdown-options" id="opcionesCentroEstudianteMatricula"></div>
                                                <label id="errorCentroEstudianteMatricula" class="errorMensaje"></label>
                                            </div>
                                        </div>
                                        <div class="col-6 filter-group">
                                            <div class="combo-input-wrapper">
                                                <label for="comboUniversidadEstudianteMatricula" class="form-label">Universidad/FP de procedencia</label>
                                                <input type="text" id="comboUniversidadEstudianteMatricula" class="form-control" placeholder="Buscar o seleccionar">
                                                <div class="dropdown-options" id="opcionesUniversidadEstudianteMatricula"></div>
                                                <label id="errorUniversidadEstudianteMatricula" class="errorMensaje"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-2 form-check">
                                        <input class="form-check-input" type="checkbox" value="esBecario" id="esBecario">
                                        <label class="form-check-label" for="esBecario"> El estudiante es becario </label>
                                    </div>

                                    <!--Parte de becarios-->
                                    <div id="contDatosBecario" class="d-none">
                                        <h5 class="h4 my-4  text-gray-800"> Datos de los becarios </h5>

                                        <div class="text-end mt-2">
                                            <button class="btn btn-sm btn-outline-warning" id="añadirBecas" type="button" title="Añadir más becas"> 
                                                <i class="fas fa-plus"></i> Añadir más becas
                                            </button>
                                        </div>

                                        <div class="row">
                                            <div class="filter-group col">
                                                <div class="combo-input-wrapper">
                                                    <label for="comboNombreInstitucionBeca" class="form-label">Nombre de la institución</label>
                                                    <input type="text" id="comboNombreInstitucionBeca" class="form-control" placeholder="AAUCA" required>
                                                    <div class="dropdown-options" id="opcionesNombreInstitucionBeca"> </div>
                                                    <label id="errorNombreInstitucionBeca" class="errorMensaje"></label> 
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <label for="tiposBeca" class="form-label">Tipo</label>
                                                <select class="form-select" id="tiposBeca">
                                                    <option value="Ninguno">Seleccione...</option>
                                                    <option value="Externa">Externa</option>
                                                    <option value="Interna">Interna</option>
                                                </select>
                                                <label id="errorTiposBeca" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-3">
                                                <label for="estadosBeca" class="form-label">Estado</label>
                                                <select class="form-select" id="estadosBeca">
                                                    <option value="Ninguno">Seleccione...</option>
                                                    <option value="Vigente">Vigente</option>
                                                    <option value="No vigente">No vigente</option>
                                                </select>
                                                <label id="errorEstadosBeca" class="errorMensaje"></label>
                                            </div>
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-3">
                                                <label for="fechaInicioBeca" class="form-label">Fecha de inicio</label>
                                                <input type="date" class="form-control" id="fechaInicioBeca" required>
                                                <label id="errorFechaInicioBeca" class="errorMensaje"></label>
                                            </div>
                                            <div class="col-3">
                                                <label for="fechaFinBeca" class="form-label">Fecha de fin</label>
                                                <input type="date" class="form-control" id="fechaFinBeca" required>
                                                <label id="errorFechaFinBeca" class="errorMensaje"></label>
                                            </div>
                                            <div class="col">
                                                <label for="observacionesBeca" class="form-label">Observaciones</label>
                                                <textarea id="observacionesBeca" class="form-control" placeholder="Ej: Describa las observaciones" required></textarea>
                                                <label id="errorObservacionesBeca" class="errorMensaje"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Datos de inicio de sesion-->
                                <h5 class="h4 my-4 text-gray-800"> Datos de inicio sesión </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-3">
                                            <!-- Área para mostrar la imagen -->
                                            <div class="mb-2 rounded-3 text-center" id="contenedorFotoPerfil">
                                                <div class="d-flex justify-content-center align-items-center bg-light rounded-3 border w-100" style="width: 120px; height: 120px;">
                                                    <i class="fas fa-user text-secondary" style="font-size: 3rem;"></i>
                                                </div>
                                            </div>

                                            <!-- Botón para añadir imagen -->
                                            <div class="file-input-wrapper2 mb-1 text-center" id="añadirImagen" style="cursor: pointer;">
                                                <i class="fas fa-plus"></i> Añadir imagen
                                            </div>
                                            
                                            <!-- Input file oculto -->
                                            <input type="file" id="campoArchivoFotoPerfil" accept=".png,.jpg,.jpeg" style="display: none;">
                                        </div>

                                        <div class="col-9">
                                            <div class="mb-2">
                                                <label for="nombreOCorreoUsuario" class="form-label">Nombre de usuario o correo</label>
                                                <input type="text" class="form-control" id="nombreOCorreoUsuario" placeholder="Ej: usuario123" required>
                                                <label id="errorNombreOCorreoUsuario" class="errorMensaje"></label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="generarContraseña" id="generarContraseña">
                                                <label class="form-check-label" for="generarContraseña"> Generar contraseña </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="mt-3 text-end">
                                <button class="btn btn-sm btn-secondary me-1 btnCancelar"> <i class="fas fa-circle me-2"></i> Cancelar </button>
                                <button class="btn btn-sm btn-warning" id="btnGuardarEstudiante"> <i class="fas fa-save me-2"></i> Guardar Estudiante </button>
                            </div>
                        </div>
                    </div>

                    <!--SECCION DE LOS DATOS DE MATRÍCULA-->
                    <div class="seccionMostrar" id="seccionDatosMatricula">
                        <!--PARTE DE LA VISUALIZACION-->
                        <div class="contSeccionDatosMatricula" id="seccionDatosMatriculaVisualizacion">
                            <!--Botones-->
                            <div class="d-flex gap-2 justify-content-center align-items-center">
                                <button class="btn btn-outline-warning" id="btnVuevaMatricula">
                                    <i class="fas fa-plus-circle me-2"></i> Nueva matrícula
                                </button>
                                <button class="btn btn-outline-warning" id="btnEditarDatosMatricula">
                                    <i class="fas fa-edit me-2"></i> Editar
                                </button>
                                <button class="btn btn-outline-warning" id="btnComprobante">
                                    <i class="fas fa-file me-2"></i> Hacer comprobante
                                </button>
                            </div>

                            <div class="col-12 text-center py-5">
                                <i class="fas fa-list-alt fa-4x text-muted mb-3"></i>
                                <h3 class="text-muted">Sin matriculas disponibles</h3>
                            </div>

                            <!-- Los detalles se cargarán dinámicamente -->
                        </div>

                        <!--PARTE DE LA CREACION/EDICION-->
                        <div class="contSeccionDatosMatricula d-none" id="seccionDatosMatriculaEdicion">
                            <form id="formMatricula">
                                <!--Datos generales-->
                                <h5 class="h4 mb-3 text-gray-800"> Datos para la matrícula </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="cursoAcademicoMatricula" class="form-label">Curso académico</label>
                                            <input type="text" class="form-control" id="cursoAcademicoMatricula" placeholder="Ej: 2025/2026" required>
                                            <label id="errorCursoAcademicoMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="fechaMatricula" class="form-label">Fecha de Matrícula</label>
                                            <input type="date" class="form-control" id="fechaMatricula" required>
                                            <label id="errorFechaMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-4">
                                            <label for="modalidadMatricula" class="form-label">Modalidad</label>
                                            <select class="form-select" id="modalidadMatricula" required>
                                                <option value="Ninguno">Seleccione...</option>
                                                <option value="Tiempo completo">Tiempo completo</option>
                                                <option value="Tiempo parcial">Tiempo parcial</option>
                                            </select>
                                            <label id="errorModalidadMatricula" class="errorMensaje"></label>
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col filter-group">
                                            <div class="combo-input-wrapper">
                                                <label for="comboPlanEstudioMatricula" class="form-label">Planes de estudio</label>
                                                <input type="text" id="comboPlanEstudioMatricula" class="form-control" placeholder="Buscar o seleccionar plan de estudio">
                                                <div class="dropdown-options" id="opcionesPlanEstudioMatricula"></div>
                                                <label id="errorPlanEstudioMatricula" class="errorMensaje"></label> 
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <label for="semestresMatricula" class="form-label">Semestre</label>
                                            <select class="form-select" id="semestresMatricula" required>
                                                <option value="Ninguno">Seleccione...</option>
                                                <!--Añadir dinamicamente-->
                                            </select>
                                            <label id="errorSemestresMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="creditosTotalesMatricula" class="form-label">Total de créditos</label>
                                            <input type="number" min="0" class="form-control" id="creditosTotalesMatricula" placeholder="Ej: 30">
                                            <label id="errorCreditosTotalesMatricula" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-3">
                                            <label for="estadosMatricula" class="form-label">Estado</label>
                                            <select class="form-select" id="estadosMatricula" required>
                                                <option value="Ninguno">Seleccione...</option>
                                                <option value="Completo">Completada</option>
                                                <option value="Incompleto">Incompleta</option>
                                            </select>
                                            <label id="errorestadosMatricula" class="errorMensaje"></label>
                                        </div>
                                    </div>
                                </div>

                                <!--Datos generales-->
                                <h5 class="h4 my-4 text-gray-800"> Datos del pago de matrícula </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="responsablePagoEstudiante" class="form-label">Responsable de pago</label>
                                            <input type="text" class="form-control" id="responsablePagoEstudiante" required>
                                            <label id="errorResponsablePagoEstudiante" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-2">
                                            <label for="cuotaEstudiante" class="form-label">Cuota</label>
                                            <input type="number" min="0" class="form-control" id="cuotaEstudiante" placeholder="Ej: 2" required>
                                            <label id="errorCuotaEstudiante" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-3">
                                            <label for="fechaPagoEstudiante" class="form-label">Fecha de pago</label>
                                            <input type="date" class="form-control" id="fechaPagoEstudiante" required>
                                            <label id="errorFechaPagoEstudiante" class="errorMensaje"></label>
                                        </div>
                                        <div class="col-3">
                                            <label for="montoEstudiante" class="form-label">Monto</label>
                                            <input type="number" min="0" step="5000" class="form-control" id="montoEstudiante" placeholder="Ej: 250000" required>
                                            <label id="errorMontoEstudiante" class="errorMensaje"></label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="mt-3 text-end">
                                <button class="btn btn-sm btn-secondary me-1 btnCancelar"> <i class="fas fa-circle me-2"></i> Cancelar </button>
                                <button class="btn btn-sm btn-warning" id="btnGuardarMatricula"> <i class="fas fa-save me-2"></i> Guardar Matrícula </button>
                            </div>
                        </div>
                    </div>

                    <!--SECCION DE LOS DATOS ACADÉMICOS-->
                    <div class="seccionMostrar" id="seccionDatosAcademicos">
                        <!--PARTE DE LA VISUALIZACION-->
                        <div class="contSeccionDatosAcademicos" id="seccionDatosAcademicosVisualizacion">
                            <!--Botones-->
                            <div class="d-flex gap-2 justify-content-center align-items-center">
                                <button class="btn btn-outline-warning" id="btnAsignarAsignaturasEstudiante">
                                    <i class="fas fa-plus-circle me-2"></i> Asignar Asignaturas
                                </button>
                                <button class="btn btn-outline-warning" id="btnEditarDatosAcademicos">
                                    <i class="fas fa-edit me-2"></i> Editar
                                </button>
                            </div>

                            <div class="col-12 text-center py-5">
                                <i class="fas fa-file-text fa-4x text-muted mb-3"></i>
                                <h3 class="text-muted">Sin datos académicos disponibles</h3>
                            </div>

                            <!-- Los detalles se cargarán dinámicamente -->
                        </div>

                        <!--PARTE DE LA CREACION/EDICION-->
                        <div class="contSeccionDatosAcademicos d-none" id="seccionDatosAcademicosEdicion">
                            <form id="formAsignacion">
                                <!--Datos generales-->
                                <h5 class="h4 mb-3 text-gray-800"> Asignación de asignaturas </h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 mb-3 p-3 border border-3 border-black rounded-1">
                                            <div class="mb-1">
                                                <label for="convocatoriaAsignacion" class="form-label">Convocatorias</label>
                                                <input type="number" min="0" class="form-control" id="convocatoriaAsignacion" placeholder="0" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="vecesMatriculadoAsignacion" class="form-label">Número de veces matriculado</label>
                                                <input type="number" min="0" class="form-control" id="vecesMatriculadoAsignacion" placeholder="0" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="notaFinalAsignacion" class="form-label">Nota final</label>
                                                <input type="number" min="0" class="form-control" id="notaFinalAsignacion" placeholder="0" disabled>
                                            </div>
                                        </div>
                                        <div class="col my-0">
                                            <div class="row">
                                                <!--parte de las asignaturas del semestre-->
                                                <div class="col-6">
                                                    <div class="contAsignaturasSemestre border border-2 border-black rounded-2">
                                                        <div class="card-header bg-warning">
                                                            <h6 class="mb-0">Asignaturas del semestre</h6>
                                                        </div>
                                                        <div id="contenedorAsignaturasSemestre">
                                                            <!--añadir dinamicamente-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <!--parte de las asignaturas bloqueadas-->
                                                    <div class="contAsignaturasPendienteYBloqueadas border border-2 border-black rounded-2">
                                                        <div class="card-header bg-warning">
                                                            <h6 class="mb-0">Asignaturas Pendientes y bloquedas</h6>
                                                        </div>
                                                        <div id="contenedorAsignaturasPendienteYBloqueadas">
                                                            <!--añadir dinamicamente-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--para de las asignaturas a asignar-->
                                        <div class="contAsignaturasAsignar shadow pt-3 px-3 mt-3 border border-2 border-black rounded-2">
                                            <h5 class="card-title">Asignaturas a asignar</h5>
                                            <div id="contenedorAsignaturasAsignar">
                                                <!--añadir dinamicamente-->
                                            </div>
                                            <div class="text-end">
                                                <strong class="small">Total de Créditos:<span id="totalCreditos">0</span></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="mt-3 text-end">
                                <button class="btn btn-sm btn-secondary me-1 btnCancelar"> <i class="fas fa-circle me-2"></i> Cancelar </button>
                                <button class="btn btn-sm btn-warning" id="btnAsignarAsignaturas"> <i class="fas fa-save me-2"></i> Asignar Asignaturas </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Logout Modal-->
    <div class="importandoModalCierreSesion"></div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded-4" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="../../../public/nomodules/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/nomodules/bootstrap4/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/nomodules/boostrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/nomodules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
    <script src="../../../public/nomodules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../public/nomodules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="module" src="../../controlador/formularioEstudiante.js"></script>
</body>
</html>