<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Panel del Secretario Académico - Noticias</title>
    <link rel="icon" href="../../../public/img/escudo_AAUCA.jpg">
    <link rel="stylesheet" href="../../../public/nomodules/fontawesome/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../../public/nomodules/boostrap/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/nomodules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="../../../public/nomodules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../css/profesor.css">
    <link rel="stylesheet" href="../css/general.css">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion toggled shadow-lg" id="accordionSidebar">
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="sidebar-brand-text" id="profesorPanel"> Profesor </div>
            </div>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link tableroP">
                    <i class="fas fa-chalkboard"></i> <span> Tablero </span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link horario">
                    <i class="fas fa-calendar-alt"></i> <span> Horario </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link evaluacion">
                    <i class="fas fa-tasks"></i> <span> Evaluaciones </span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link noticia">
                    <i class="fas fa-newspaper"></i> <span> Noticias </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link consulta">
                    <i class="fas fa-comments"></i> <span> Consultas </span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="mt-3 text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-between">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none mx-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <div class="importandoTopBar w-100 d-flex justify-content-end"> </div>
                </nav>

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="mb-4">
                        <h1 class="h3 mb-0 text-gray-800">
                            <span class="text-warning ms-2"></span> Noticias
                        </h1>
                    </div>

                    <!--Parte de las noticias (vamos ha hacer paginacion como en la parte publica)-->
                    <section>
                        <div class="contenedorTarjetasNoticias mb-4">

                            <!-- Carta de noticias -->
                            <div id="contTarjetaNoticia" class="container">
                                <div class="row" id="tarjetasNoticiasRow"> <!-- Las tarjetas se añadirán aquí dinámicamente --> </div>
                            </div>

                            <!-- Contenedor de paginación -->
                            <div id="contPaginacion" class="container mt-4 d-flex justify-content-center">
                                <!-- La paginación se añadirá aquí dinámicamente -->
                            </div>
                                
                            <!-- Detalles de las noticias -->
                            <div id="contDetallesNoticias" class="container"> <!-- Agregar de manera dinamica --> </div>
                        </div>

                        <!-- Modal -->
                        <div id="modalNoticias" class="modal fade" tabindex="-1" aria-hidden="true">
                            <div class="modal-contenido">
                                <span class="cerrar w-100 text-end" id="cerrarModal"> &times; </span>

                                <div class="modal-encabezado">
                                    <h2 id="tituloNoticiaDetalle"> </h2>
                                </div>
                                
                                <div class="modal-content mt-2 p-2">
                                    <p id="contenidoNoticiadetalle"> </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>

    <!-- Logout Modal-->
    <div class="importandoModalCierreSesion"> </div>
    
    <script src="../../../public/nomodules/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/nomodules/bootstrap4/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/nomodules/boostrap/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../../public/nomodules/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
    <script src="../../../public/nomodules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../public/nomodules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="module" src="../../controlador/c_noticia.js"></script>
</body>
</html>